body {
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
}

#pokemon-gallery .card {
    margin-bottom: 20px;
}

#load-more {
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-title {
    text-transform: capitalize;
}
